.App {
  text-align: center;
}

.calculator {
  border: 3px solid black;
  width: 400px;
  height: 500px;
  display: inline-block;
}

.screen {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100px;
}

.row {
  height: 100px;
  width: 400px;
}

.button {
  width: 24%;
  height: 100%;
  border: 1px solid black;
  display: inline-block;
  :hover {
    cursor: pointer;
  }
  p {
    line-height: 4;
  }
}
