.App {
  text-align: center;
}

.calculator {
  border: 3px solid black;
  width: 400px;
  height: 500px;
  display: inline-block;
}

.screen {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100px;
}

.button {
  border: 1px solid black;
  width: 30%;
  height: 20%;
}
